/*Ejercicio 5 
1) */
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
color: red;
}
/* 2) */
div p [href] {
    color:black;
}
/* 3) */
#ultimo ul {
    color: yellow;
}
#ultimo ul a {
    color:blue;
}
/* 4) */
div #importante {
   color:green;
}
h1,h2,h3,h4,h5,h6 #importante {
    color:red;
}
/* 5) */
h1 [title]{
    color:blue;
}
/* 6) */
ol a{
    text-decoration: none;
}
ol a:visited{
    color:violet;
}
ol a:link{
    color:blue;
}